@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mulish:wght@400;500;600;700;800&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}
.hamburguer{
     /* background: red;  */
    width: 3rem;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

 .show-menu .hamburguer{
    right: 17rem;
    transition: all 1s;
} 
.hamburguer .line{
    width: 80%;
    height: .3rem;
    background: #fff;
    border-radius: .3rem;
    box-shadow: 0.15rem 0.15rem 1px #000;
    transition: all 1s ease-in-out;
}
.hamburguer .line::before,
.hamburguer .line::after{
    content: '';
    position: absolute;
    width: 80%;
    height: .3rem;
    background: #fff;
    border-radius: .2rem;
    box-shadow: 0.15rem 0.15rem 0.15rem #000;
    transition: all 1s ease-in-out;
}

.hamburguer .line::after{
    transform: translateY(.8rem);
}
.hamburguer .line::before{
    transform: translateY(-.8rem);
}
.hamburguer.open .line{
    background: transparent;
    box-shadow: none;
}
.hamburguer.open .line::before{
    transform: rotate(45deg) translate(.7rem,-.7rem);
    background: linear-gradient(to right, #373b44, #4286f4);
    box-shadow: none;
}
.hamburguer.open .line::after{
    transform: rotate(-45deg) translate(.7rem,.7rem);
    background: linear-gradient(to right, #373b44, #4286f4);
    box-shadow: none;
}

.hamburguer span{
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 6rem;
    background: linear-gradient(to right, #373b44, #4286f4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-action);
    border-radius: 1rem;
    color: #fff;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.hamburguer span::before{
    content: '';
    position: absolute;
    border-right: .8rem solid  #373b44;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
    
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
    animation: zoomAnimate 10s;
}

@keyframes zoomAnimate{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #fff;
    font-size: 3.5em;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 2s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 2s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: #373b44;
    background: -webkit-linear-gradient(to right, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373b44, #4286f4);
    padding: 1rem 4rem;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 2s 0.9s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg) rotateX(-50deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0) rotateX(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: #fff;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
    
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
   font-family:  var(--font-action);
   font-size: 2rem;
   color: #555;
   transition: color 1s;
}

.menu-link:hover{
    color: #1c30e29a;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color:  #1c30e29a;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3rem solid #1c30e29a;
    border-radius: 50%;
    transition: 1s;
}

.social-media i:hover{
    transform: scale(1.4);
    color: #070e509a;
    border-color: #070e509a;
}

.knowledges{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}
.knowledge:nth-child(1){
    grid-column: 4/7;
    grid-row: 1/3;
}
.knowledge:nth-child(2){
    grid-column: 3/6;
    grid-row: 3/5;
}
.knowledge:nth-child(3){
    grid-column: 4/7;
    grid-row: 5/-1;
}
.knowledge:nth-child(4){
    grid-column: 11/14;
    grid-row: 1/3;
}
.knowledge:nth-child(5){
    grid-column: 12/15;
    grid-row: 3/5;
}
.knowledge:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;
}

.section-knowlegde{
    background: #f5f5f5;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #4286f4;
    margin-bottom: 1.5rem ;
}
.knowledge-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.knowledge-header i{
    font-size: 2.5rem;
}

.knowledge-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.knowledge-text{
    font-family: var(--font-secundary);
    margin-top: 2rem;
}

.knowledge-img-wrapper{
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}
.knowledge-img-wrapper img{
    object-fit: cover;
    width: 100%;
}
.project {
    display: flex;
    justify-content: space-evenly;

}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background: #262626;
    border-radius: .5rem;
}
.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity  .3s ease-in-out;
}
.card:hover .card-img-wrapper img{
    opacity: .5;
}
.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    transition: all .3s ease-in-out ;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4);
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #eee;
}
.card-info h3{
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-secundary);
    font-weight: bold;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 80%;
}
.btn{
    background: #373b44;
    background: -webkit-linear-gradient(to right, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373b44, #4286f4);
    font-family: var(--font-action);
    color: #eee;
    font-size: .8rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}
.card-info button{
    width: 8rem;
    height: 2.5rem;
    
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
.section-contact{
    width: 100%;
    height: 100vh;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contact-left{
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6),rgba(22 , 22, 22, 0.9)),url(assets/contact.jpg);
    background-size: cover;
}

.contact-right{
    width: 65%;
    background: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.section-contact h1{
    font-family: var(--font-primary);
    text-align: center;
    width: 100%;
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.section-contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    position: relative;
}
.input-group textarea{
    max-width: 25rem;
    max-height: 3rem;
}
.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all  0.3s ease-in-out;
}

.field:focus ~ label{
    top: 0;
    font-size: 0.7rem;
}
.field:focus{
    border-bottom:1px solid;
}

.btn-submit{
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
}